* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*  Mise en forme du header  */
header{
    background-color: #057858;
    color: white;
    text-decoration: none;
    border: solid 4px black;
    display: flex;
    justify-content: flex-end;

}
.textHeader{
    border: solid 4px blue;
    width: fit-content;
    margin: 15px;
    word-spacing: 40px;
}
.btn{
    color: white;
    background-color: red;
    border-radius: 10%;
    padding: 5px;
    font-weight: 700;
    width: fit-content;
    margin: 15px;
}
.don{
    font-weight: 600;
    font-size: 16px;
}

/* Mise en page de la section main  */

.hautDePage{
    background-image: url(./Images/ImageHaut.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}
h1{
    font-size: 90px;
}
p{
    font-size: 20px;
    text-align: center;
}
/* Mise en page de la deuxième section, celle pour le don  */
.sectionDon{
    border: solid 4px yellow;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 50px;
}
h2{
    color: black;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 100px;
}
.cadreDon{
    border: solid 4px orangered;
    align-self: center;
    padding: 10px;
}

.btnDon{
    background-color: white;
    border: solid 2px #D9D9D9;
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
    font-size: 10px;
}
.cadreTemps{
    border: solid 4px blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}
.btnTemps{
    background-color: #F3F1F1;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
}
.validerDon{
    align-items: center;
    background-color: red;
    color: white;
    width: 45%;
    position: absolute;
    left: 28%;
    padding: 10px;
    font-weight: 700;
}
/* Mise en page de la deuxième section, celle de la mission de l'asso */
.mission{
    background-color: #EDFDF4;
    margin-top: 60px ;
    border: solid 4px black;
    z-index: 1;
}
.notreMission{
    padding: 100px;
    display: flex;
    border: solid 4px purple;
  
}
.notreMission img{
    border-radius: 20px 0 0 20px;
}

/*  Mise en page de la quatrième section avec le carrousel d'image  */

.galerie{
    border: solid 4px cyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin: 70px;
    width: fit-content;
    gap: 15px;
}
.container{
    border: solid 4px greenyellow;

}
.tailleMin{
    width: 360px;
    height: 185px;
    border-radius: 10px;
}
.tailleMax{

  object-fit: cover; /* Permet de garder une taille homogène */
}

/*  Mise en forme de la cinquième section: quizz */

.quizz{
    background-color: #EDFDF4;
}

.boxQuizz{
    border: solid 4px orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.btnQuizz{
    align-self: center;
    padding: 12px;
    font-size: 10px;
    border-radius: 10px;
    background-color: #F5F5F5;
    border: none;
    width: 370px;
    height: 50px;
}
.question1{
    border: solid 4px blueviolet;
    background-color: white;
    padding: 20px;
    align-self: center;
}
.question2{
    align-self: center;
    background-color: white;
    padding: 20px;
}
.question3{
    align-self: center;
    background-color: white;
    padding: 20px;
}
.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* Mise en page de la sixième section: témoignages  */

.boiteTemoignages img{
    width: 350px;
    height: 160px;
}
.boiteTemoignages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    font-size: 15px; 
}
.temoin1{
    border: solid 4px cyan;
    align-self: center;
    height: 300px;
    width: 350px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3)
}
.temoin2{
    align-self: center;
    height: 300px;
    width: 350px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3)
}
.temoin3{
    border: solid 4px red;
    align-self: center;
    height: 300px;
    width: 350px;  
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3)
}